<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <nav>
    <i>Welcome Admin!!</i>
    <center>
    <a href="/admin_home">Home</a> |
    <a href="/admin_users">Users</a> |
    <a href="/admin_search">Search</a>
    <a href="/admin_summary">Summary</a>
    <a href="/admin_logout">Logout</a>
    </center>
    <right><a href="/admin_editprofile">Edit Profile</a></right>
</nav>
    <center><h2>Parking Lots</h2></center>
    

</body>
</html>