<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN LOGIN PAGE</title>
</head>
<body>
    <h1>Welcome to EasyPark — Find. Book. Park.</h1>
    <H3>ADMIN LOGIN</H3>
    <form>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>
    <br><br>
    <a href="{{url_for('home')}}">Go to Home page</a>
</body>
</html>