<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <nav>
    <i>Welcome user!!</i>
    <center>
    <a href="/user_home">Home</a> |
    <a href="/user_summary">Summary</a> |
    <a href="/user_logout">Logout</a>
    </center>
    <right><a href="/user_editprofile">Edit Profile</a></right>
</nav>
    <center><h2>Recent Parking history</h2></center>
    <table border="1">
  <tr>
    <th>ID</th>
    <th>Location</th>
    <th>Vechicle_No</th>
    <th>Timestamp</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>120</td>
    <td>Velachery</td>
    <td>TN 01 AF 1208</td>
    <td>29-5-25 9:36:20</td>
    <td><button>Release</button></td>
  </tr>
  <tr>
    <td>134</td>
    <td>Perumbakkam</td>
    <td>TN 02 BG 3478</td>
    <td>29-5-25 10:30:09</td>
    <td><button>ParkedOut</button></td>
  </tr>
</table>

</body>
</html>